Repository open-telemetry/opentelemetry-js, pull requests merged in 2024-11, with the labels that each got.

#5077 [Fixes # 4533] Replaced cpx2 with local test module
  experimental/packages/opentelemetry-instrumentation/package.json
  experimental/packages/opentelemetry-instrumentation/test/node/RequireInTheMiddleSingleton.test.ts
  experimental/packages/opentelemetry-instrumentation/test/node/node_modules/test-non-core-module/lib/copy-sync.js
  experimental/packages/opentelemetry-instrumentation/test/node/node_modules/test-non-core-module/lib/index.js
  experimental/packages/opentelemetry-instrumentation/test/node/node_modules/test-non-core-module/package.json
Labels: Skip Changelog

#5087 docs: update releasing.md to mention npm publish workflow, fix a link to release PR workflow
  .github/workflows/publish-to-npm.yml
  doc/contributing/releasing.md
Labels: document, Skip Changelog

#5107 add reset function test for InMemorySpanExporter
  packages/opentelemetry-sdk-trace-base/test/common/export/InMemorySpanExporter.test.ts
Labels: Skip Changelog

#5094 Fix wrapping ESM files with absolute path
  experimental/CHANGELOG.md
  experimental/packages/opentelemetry-instrumentation/src/platform/node/instrumentation.ts
  experimental/packages/opentelemetry-instrumentation/test/node/EsmInstrumentation.test.mjs
  experimental/packages/opentelemetry-instrumentation/test/node/esm/test.mjs
Labels: bug, pkg:instrumentation-http

#5091 fix(instrumentation-http)!: drop url.parse in favor of URL constructor
  experimental/CHANGELOG.md
  experimental/packages/opentelemetry-instrumentation-http/src/http.ts
  experimental/packages/opentelemetry-instrumentation-http/src/utils.ts
  experimental/packages/opentelemetry-instrumentation-http/test/functionals/http-enable.test.ts
  experimental/packages/opentelemetry-instrumentation-http/test/functionals/https-enable.test.ts
  experimental/packages/opentelemetry-instrumentation-http/test/functionals/utils.test.ts
Labels: bug, priority:p1, pkg:instrumentation-http

#4617 feat(sdk-*): add option to opt-out from merging the resource with Resource.default()
  CHANGELOG.md
  experimental/CHANGELOG.md
  experimental/packages/opentelemetry-sdk-node/README.md
  experimental/packages/opentelemetry-sdk-node/src/sdk.ts
  experimental/packages/opentelemetry-sdk-node/src/types.ts
  experimental/packages/sdk-logs/src/LoggerProvider.ts
  experimental/packages/sdk-logs/src/config.ts
  experimental/packages/sdk-logs/src/types.ts
  experimental/packages/sdk-logs/test/common/LoggerProvider.test.ts
  packages/opentelemetry-sdk-trace-base/src/BasicTracerProvider.ts
  packages/opentelemetry-sdk-trace-base/src/config.ts
  packages/opentelemetry-sdk-trace-base/src/types.ts
  packages/opentelemetry-sdk-trace-base/test/common/BasicTracerProvider.test.ts
  packages/sdk-metrics/src/MeterProvider.ts
  packages/sdk-metrics/test/MeterProvider.test.ts
Labels: spec-feature, pkg:sdk-metrics, pkg:sdk-node, pkg:sdk-trace-base, pkg:sdk-trace-node, pkg:sdk-trace-web, pkg:sdk-logs

#5126 fix(sdk-metrics): await export when async attributes are pending
  CHANGELOG.md
  packages/sdk-metrics/src/export/PeriodicExportingMetricReader.ts
  packages/sdk-metrics/test/export/PeriodicExportingMetricReader.test.ts
Labels: bug, priority:p2, pkg:sdk-metrics

#5146 fix(sdk-node): fix typo `FomEnv` → `FromEnv`
  experimental/packages/opentelemetry-sdk-node/src/utils.ts
Labels: Skip Changelog, pkg:sdk-node

#5143 fix(sdk-trace-base): pass BatchSpanProcessor#forceFlush() errors on visibilitychange/pagehide to globalErrorHandler
  CHANGELOG.md
  packages/opentelemetry-sdk-trace-base/src/platform/browser/export/BatchSpanProcessor.ts
  packages/opentelemetry-sdk-trace-base/test/browser/export/BatchSpanProcessor.test.ts
Labels: bug, priority:p1, pkg:sdk-trace-base

#5153 test(instrumentation): skip unwrap tests for esm
  api/package.json
  experimental/packages/api-events/package.json
  experimental/packages/api-logs/package.json
  experimental/packages/exporter-logs-otlp-grpc/package.json
  experimental/packages/exporter-logs-otlp-http/package.json
  experimental/packages/exporter-logs-otlp-proto/package.json
  experimental/packages/exporter-trace-otlp-grpc/package.json
  experimental/packages/exporter-trace-otlp-http/package.json
  experimental/packages/exporter-trace-otlp-proto/package.json
  experimental/packages/opentelemetry-browser-detector/package.json
  experimental/packages/opentelemetry-exporter-metrics-otlp-grpc/package.json
  experimental/packages/opentelemetry-exporter-metrics-otlp-http/package.json
  experimental/packages/opentelemetry-exporter-metrics-otlp-proto/package.json
  experimental/packages/opentelemetry-exporter-prometheus/package.json
  experimental/packages/opentelemetry-instrumentation-fetch/package.json
  experimental/packages/opentelemetry-instrumentation-grpc/package.json
  experimental/packages/opentelemetry-instrumentation-http/package.json
  experimental/packages/opentelemetry-instrumentation-xml-http-request/package.json
  experimental/packages/opentelemetry-instrumentation/package.json
  experimental/packages/opentelemetry-instrumentation/test/node/EsmInstrumentation.test.mjs
  experimental/packages/opentelemetry-sdk-node/package.json
  experimental/packages/otlp-exporter-base/package.json
  experimental/packages/otlp-grpc-exporter-base/package.json
  experimental/packages/otlp-transformer/package.json
  experimental/packages/sampler-jaeger-remote/package.json
  experimental/packages/sdk-events/package.json
  experimental/packages/sdk-logs/package.json
  experimental/packages/shim-opencensus/package.json
  experimental/packages/web-common/package.json
  integration-tests/api/package.json
  package-lock.json
  packages/opentelemetry-context-async-hooks/package.json
  packages/opentelemetry-context-zone-peer-dep/package.json
  packages/opentelemetry-core/package.json
  packages/opentelemetry-exporter-jaeger/package.json
  packages/opentelemetry-exporter-zipkin/package.json
  packages/opentelemetry-propagator-b3/package.json
  packages/opentelemetry-propagator-jaeger/package.json
  packages/opentelemetry-resources/package.json
  packages/opentelemetry-sdk-trace-base/package.json
  packages/opentelemetry-sdk-trace-node/package.json
  packages/opentelemetry-sdk-trace-web/package.json
  packages/opentelemetry-shim-opentracing/package.json
  packages/sdk-metrics/package.json
  selenium-tests/package.json
  semantic-conventions/package.json
Labels: dependencies, internal

#5086 feat: improve bug template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: internal, Skip Changelog

#5163 fix(otlp-exporter-base): fix unhandled error when writing to destroyed http request
  experimental/CHANGELOG.md
  experimental/packages/otlp-exporter-base/src/platform/node/http-transport-utils.ts
  experimental/packages/otlp-exporter-base/test/node/http-transport-utils.test.ts
Labels: bug, priority:p1, pkg:otlp-exporter-base

#5159 feat(otlp-transformer)!: accept ResourceMetrics instead of ResoruceMetrics[] in metrics serializers
  experimental/CHANGELOG.md
  experimental/packages/opentelemetry-exporter-metrics-otlp-http/src/OTLPMetricExporterBase.ts
  experimental/packages/opentelemetry-exporter-metrics-otlp-http/test/browser/index-webpack.ts
  experimental/packages/opentelemetry-exporter-metrics-otlp-http/test/common/OTLPMetricExporterBase.test.ts
  experimental/packages/otlp-transformer/src/json/serializers.ts
  experimental/packages/otlp-transformer/src/protobuf/serializers.ts
  experimental/packages/otlp-transformer/test/metrics.test.ts
Labels: pkg:exporter-metrics-otlp-http, pkg:otlp-transformer

#5128 feat(sdk-metrics): add aggregation cardinality limit
  CHANGELOG.md
  packages/sdk-metrics/src/export/CardinalitySelector.ts
  packages/sdk-metrics/src/export/MetricReader.ts
  packages/sdk-metrics/src/state/AsyncMetricStorage.ts
  packages/sdk-metrics/src/state/DeltaMetricProcessor.ts
  packages/sdk-metrics/src/state/MeterSharedState.ts
  packages/sdk-metrics/src/state/MetricCollector.ts
  packages/sdk-metrics/src/state/SyncMetricStorage.ts
  packages/sdk-metrics/src/view/View.ts
  packages/sdk-metrics/test/MeterProvider.test.ts
  packages/sdk-metrics/test/state/AsyncMetricStorage.test.ts
  packages/sdk-metrics/test/state/DeltaMetricProcessor.test.ts
  packages/sdk-metrics/test/state/MetricStorageRegistry.test.ts
  packages/sdk-metrics/test/state/SyncMetricStorage.test.ts
  packages/sdk-metrics/test/state/TemporalMetricProcessor.test.ts
Labels: spec-feature, pkg:sdk-metrics

#5179 feat(otlp-exporter-base): internally accept a http header provider function only
  experimental/CHANGELOG.md
  experimental/packages/otlp-exporter-base/src/configuration/convert-legacy-browser-http-options.ts
  experimental/packages/otlp-exporter-base/src/configuration/convert-legacy-node-http-options.ts
  experimental/packages/otlp-exporter-base/src/configuration/otlp-http-configuration.ts
  experimental/packages/otlp-exporter-base/src/configuration/otlp-http-env-configuration.ts
  experimental/packages/otlp-exporter-base/src/configuration/shared-configuration.ts
  experimental/packages/otlp-exporter-base/src/otlp-browser-http-export-delegate.ts
  experimental/packages/otlp-exporter-base/src/transport/http-transport-types.ts
  experimental/packages/otlp-exporter-base/src/transport/http-transport-utils.ts
  experimental/packages/otlp-exporter-base/src/transport/xhr-transport.ts
  experimental/packages/otlp-exporter-base/src/util.ts
  experimental/packages/otlp-exporter-base/test/browser/xhr-transport.test.ts
  experimental/packages/otlp-exporter-base/test/common/configuration/otlp-http-configuration.test.ts
  experimental/packages/otlp-exporter-base/test/common/util.test.ts
  experimental/packages/otlp-exporter-base/test/node/configuration/otlp-http-env-configuration.test.ts
  experimental/packages/otlp-exporter-base/test/node/http-exporter-transport.test.ts
  experimental/packages/otlp-exporter-base/test/node/otlp-http-export-delegate.test.ts
Labels: internal, pkg:otlp-exporter-base

#5193 refactor(otlp-exporter-base): don't create blob before sending xhr
  experimental/CHANGELOG.md
  experimental/packages/exporter-trace-otlp-http/test/browser/CollectorTraceExporter.test.ts
  experimental/packages/opentelemetry-exporter-metrics-otlp-http/test/browser/CollectorMetricExporter.test.ts
  experimental/packages/otlp-exporter-base/src/transport/xhr-transport.ts
  experimental/packages/otlp-exporter-base/test/browser/xhr-transport.test.ts
Labels: bug, pkg:otlp-exporter-base

#5195 chore: update prettier to 3.3.3
  api/src/platform/browser/globalThis.ts
  experimental/packages/api-events/src/platform/browser/globalThis.ts
  experimental/packages/api-logs/src/platform/browser/globalThis.ts
  experimental/packages/opentelemetry-instrumentation-grpc/test/helper.ts
  package-lock.json
  package.json
  packages/opentelemetry-core/src/platform/browser/globalThis.ts
  packages/opentelemetry-sdk-trace-web/src/utils.ts
Labels: Skip Changelog

#5206 fix(docs): broken link for community contribution lifecycle and processes
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: Skip Changelog

#5204 feat(otlp-exporter-base): add http response body to exporter error
  experimental/CHANGELOG.md
  experimental/packages/otlp-exporter-base/src/transport/http-transport-utils.ts
  experimental/packages/otlp-exporter-base/test/node/http-exporter-transport.test.ts
Labels: pkg:otlp-exporter-base

#5209 chore: replace deprecated String.prototype.substr() with substring()
  packages/opentelemetry-core/src/common/time.ts
  packages/opentelemetry-sdk-trace-base/src/Span.ts
Labels: Skip Changelog

#5212 refactor(otlp-exporter-base): remove exports that were meant to be internal
  experimental/packages/otlp-exporter-base/src/index.ts
  experimental/packages/otlp-exporter-base/test/common/bounded-queue-export-promise-handler.test.ts
  experimental/packages/otlp-exporter-base/test/common/otlp-export-delegate.test.ts
Labels: Skip Changelog, pkg:otlp-exporter-base

#5183 feat(otlp-exporter-base): implement partial success handling
  experimental/CHANGELOG.md
  experimental/packages/otlp-exporter-base/src/logging-response-handler.ts
  experimental/packages/otlp-exporter-base/src/otlp-export-delegate.ts
  experimental/packages/otlp-exporter-base/src/response-handler.ts
  experimental/packages/otlp-exporter-base/test/common/logging-response-handler.test.ts
  experimental/packages/otlp-exporter-base/test/common/otlp-export-delegate.test.ts
  experimental/packages/otlp-exporter-base/test/common/test-utils.ts
  experimental/packages/otlp-exporter-base/test/node/configuration/convert-legacy-node-otlp-http-options.test.ts
Labels: spec-feature, pkg:otlp-exporter-base
