Repository open-telemetry/opentelemetry-js, pull requests merged in 2024-01, with the labels that each got.

#4226 [next] remove README and add warning
  README.md
Labels: Skip Changelog

#4417 fix(sdk-trace-base): ensure attribute value length limit is enforced on span creation
  CHANGELOG.md
  packages/opentelemetry-sdk-trace-base/src/Span.ts
  packages/opentelemetry-sdk-trace-base/test/common/Span.test.ts
Labels: bug, priority:p2, pkg:sdk-trace-base

#4320 chore(opentelemetry-context-zone-peer-dep): support zone.js ^v0.13.0
  CHANGELOG.md
  package-lock.json
  packages/opentelemetry-context-zone-peer-dep/package.json
  packages/opentelemetry-context-zone-peer-dep/test/ZoneContextManager.test.ts
Labels: pkg:context-zone-peer-dep

#4421 refactor(core): drop unnecessary assignment of HOSTNAME
  CHANGELOG.md
  packages/opentelemetry-core/src/platform/node/environment.ts
Labels: bug, priority:p4, pkg:core

#4427 feat(sdk-metrics): deprecate MeterProvider.addMetricReader() in favor of 'readers' constructor option
  CHANGELOG.md
  experimental/packages/opentelemetry-exporter-metrics-otlp-grpc/test/metricsHelper.ts
  experimental/packages/opentelemetry-exporter-metrics-otlp-http/test/metricsHelper.ts
  experimental/packages/opentelemetry-exporter-metrics-otlp-proto/test/metricsHelper.ts
  experimental/packages/opentelemetry-exporter-prometheus/test/PrometheusExporter.test.ts
  experimental/packages/opentelemetry-exporter-prometheus/test/PrometheusSerializer.test.ts
  experimental/packages/opentelemetry-instrumentation-http/test/functionals/http-metrics.test.ts
  experimental/packages/opentelemetry-sdk-node/src/sdk.ts
  packages/sdk-metrics/src/MeterProvider.ts
  packages/sdk-metrics/test/Instruments.test.ts
  packages/sdk-metrics/test/MeterProvider.test.ts
  packages/sdk-metrics/test/export/ConsoleMetricExporter.test.ts
  packages/sdk-metrics/test/export/InMemoryMetricExporter.test.ts
  packages/sdk-metrics/test/export/MetricReader.test.ts
  packages/sdk-metrics/test/regression/cumulative-exponential-histogram.test.ts
  packages/sdk-metrics/test/regression/two-metric-readers-async-instrument.test.ts
  packages/sdk-metrics/test/state/MeterSharedState.test.ts
  packages/sdk-metrics/test/state/MetricCollector.test.ts
Labels: pkg:sdk-metrics

#4419 feat(sdk-metrics)!: remove MeterProvider.addMetricReader() in favor of constructor option
  CHANGELOG_NEXT.md
  experimental/packages/opentelemetry-exporter-metrics-otlp-grpc/test/metricsHelper.ts
  experimental/packages/opentelemetry-exporter-metrics-otlp-http/test/metricsHelper.ts
  experimental/packages/opentelemetry-exporter-metrics-otlp-proto/test/metricsHelper.ts
  experimental/packages/opentelemetry-exporter-prometheus/test/PrometheusExporter.test.ts
  experimental/packages/opentelemetry-exporter-prometheus/test/PrometheusSerializer.test.ts
  experimental/packages/opentelemetry-instrumentation-http/test/functionals/http-metrics.test.ts
  experimental/packages/opentelemetry-sdk-node/src/sdk.ts
  packages/sdk-metrics/src/MeterProvider.ts
  packages/sdk-metrics/test/Instruments.test.ts
  packages/sdk-metrics/test/MeterProvider.test.ts
  packages/sdk-metrics/test/export/ConsoleMetricExporter.test.ts
  packages/sdk-metrics/test/export/InMemoryMetricExporter.test.ts
  packages/sdk-metrics/test/export/MetricReader.test.ts
  packages/sdk-metrics/test/regression/cumulative-exponential-histogram.test.ts
  packages/sdk-metrics/test/regression/two-metric-readers-async-instrument.test.ts
  packages/sdk-metrics/test/state/MeterSharedState.test.ts
  packages/sdk-metrics/test/state/MetricCollector.test.ts
Labels: pkg:sdk-metrics

#4287 fix(sdk-trace-base): Export processed spans while exporter failed
  CHANGELOG.md
  packages/opentelemetry-sdk-trace-base/src/export/BatchSpanProcessorBase.ts
  packages/opentelemetry-sdk-trace-base/test/common/export/BatchSpanProcessorBase.test.ts
Labels: bug, pkg:sdk-trace-base

#4267 docs: add observableGauge to the prometheus experimental example
  experimental/examples/prometheus/README.md
  experimental/examples/prometheus/images/prom-gauge.png
  experimental/examples/prometheus/index.js
Labels: Skip Changelog

#4348 fix(instrumentation-fetch): compatibility with Map inputs for request headers with fetch
  experimental/CHANGELOG.md
  experimental/packages/opentelemetry-instrumentation-fetch/src/fetch.ts
  experimental/packages/opentelemetry-instrumentation-fetch/test/fetch.test.ts
Labels: pkg:instrumentation-fetch

#4409 feat(exporter-metrics-otlp-http): add option to set the exporter aggregation preference
  experimental/CHANGELOG.md
  experimental/packages/opentelemetry-exporter-metrics-otlp-http/src/OTLPMetricExporterBase.ts
  experimental/packages/opentelemetry-exporter-metrics-otlp-http/src/OTLPMetricExporterOptions.ts
  experimental/packages/opentelemetry-exporter-metrics-otlp-http/test/node/CollectorMetricExporter.test.ts
Labels: pkg:exporter-metrics-otlp-grpc, pkg:exporter-metrics-otlp-http, pkg:exporter-metrics-otlp-proto

#4448 chore: remove checked-in auto-generated version.js files
  packages/opentelemetry-exporter-jaeger/src/version.js
  packages/opentelemetry-exporter-zipkin/src/version.js
  packages/opentelemetry-propagator-b3/src/version.js
  packages/opentelemetry-propagator-jaeger/src/version.js
  packages/sdk-metrics/src/version.js
  packages/template/src/version.js
Labels: internal, Skip Changelog

#4446 fix(api): fix unreachable @opentelemetry/api/experimental entry
  api/CHANGELOG.md
  api/package.json
  eslint.base.js
  integration-tests/api/.eslintrc.js
  integration-tests/api/README.md
  integration-tests/api/package.json
  integration-tests/api/test/api-entries.test.js
  package-lock.json
Labels: pkg:api

#4420 refactor(instrumentation-grpc): clean up remnants of 'grpc' package instrumentation
  experimental/CHANGELOG.md
  experimental/packages/opentelemetry-instrumentation-grpc/src/clientUtils.ts
  experimental/packages/opentelemetry-instrumentation-grpc/src/grpc-js/index.ts
  experimental/packages/opentelemetry-instrumentation-grpc/src/grpc-js/types.ts
  experimental/packages/opentelemetry-instrumentation-grpc/src/index.ts
  experimental/packages/opentelemetry-instrumentation-grpc/src/instrumentation.ts
  experimental/packages/opentelemetry-instrumentation-grpc/src/internal-types.ts
  experimental/packages/opentelemetry-instrumentation-grpc/src/serverUtils.ts
  experimental/packages/opentelemetry-instrumentation-grpc/test/grpc-js.test.ts
Labels: pkg:instrumentation-grpc
